#row1{
    height: 650px;
    width: 100%;
    background: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: round;
    position: relative;
}
.overlayrow1{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5);
}
.container-custom{
    width: 90%;
    margin: 0 auto;
}
.top-section{}
.navbar{}
.navbar-brand img {
    height: 65px;
    padding: 10px 34px 0px 30px;
}
.slider-section {
    color: #fff;
    text-align: center;
    padding-top: 150px;
}
.carousel-item{}
.carousel-item h2{}
.carousel-item h1 {
    border: 10px solid #fff;
    width: 470px;
    font-size: 59px;
    padding: 16px;
    margin: 15px auto;
}
.carousel-item h3 {
    margin-bottom: 80px;
}
.nav-item {
    width: 136px;
    text-align: right;
}

.carousel-indicators button {
    height: 20px !important;
    width: 20px !important;
    border-radius: 100%;
    opacity: 1 !important;

    
}
.carousel-indicators .active {
    background-color: #87d37c !important;
}

.nav-link{
    color: #fff;
    text-transform: uppercase;
}

/* Row2 Start */
#row2{
    height: 700px;
    width: 100%;
    background: #fff;
}
.about_section{
    
}
.about_top{
    text-align: center;
    padding: 50px 0px;
}
.about_top h2{
    text-transform: uppercase;
    padding-bottom: 10px;
}
.about_top p{
    width: 700px;
    margin: 0 auto;
}
.about_bottom{}
.about_item{
    text-align: center;
}
.about_item i{
    font-size: 50px;
    padding: 20px 0px;
    transition: 1s;

}
.about_item h4 {
    font-size: 28px;
    text-transform: uppercase;
    padding-bottom: 10px;
    transition: 1s;
}
.about_item p{
    text-align: justify;
}
.about_item:hover i{
    color: #87d37c;
}
.about_item:hover h4{
    color: #87d37c;
}

/* Row2 End */

/* Row3 Start */
#row3{
    height: 500px;
    width: 100%;
    background: #e1e1e1;

}
.service_section{}
.service_top{
    text-align: center;
    padding: 50px 0px;
}
.service_top h2{
    text-transform: uppercase;
    padding-bottom: 10px;
}
.service_top p{
    width: 700px;
    margin: 0 auto;
}
.service_bottom{}
.service_item{
    height: 220px;
    width: 290px;
    position: relative;
    overflow: hidden;

}
.service_item img{
    height: 100%;
    width: 100%;
    position: absolute;
}
.service_overlay{
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.7);
    position: absolute;
    top: -100%;
    transition: 2s;

}
.service_item:hover .service_overlay{
    top: 0;
}
.service_item:hover .service_icon{
    top: 45%;

}
.service_icon{
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: -100%;
    transition: 2s;
    left: 35%;



}
.service_icon i{
    height: 40px;
    width: 40px;
    border: 1px solid #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 100%;
    color: #fff;
    transition: 1s;

}
.service_icon i:hover{
    background: #87d37c;
    border: 1px solid #87d37c;
}

/* Row3 End */